* {margin:0;padding:0;position:absolute;}
[onclick] {cursor:pointer;}
.pg {position:relative;padding:0;overflow:hidden;margin-left:2mm;margin-right:0mm;margin-bottom:2mm;margin-top:0mm;border:1px black solid;box-shadow:1mm 1mm 0 #AAAAAA;}
pg::after {content:'';position:absolute;margin:0;padding:0;left:0;right:0;top:0;bottom:0;background-color:white;z-index:-2;}
.pa {clear:both;}
.cl {overflow:hidden;}
.rn
.bc {border:1px solid black;}
.cs3 {font-size:10pt;height:4.54282mm;color:#A0B4E6;opacity:1;font-family:"맑은 고딕";}
.cs3 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;}
.cs2 {font-size:10pt;height:4.54282mm;color:#3F3F3F;opacity:1;font-family:"맑은 고딕";font-style:italic;}
.cs2 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;}
.cs1 {font-size:12pt;height:5.45139mm;color:#3F3F3F;opacity:1;font-family:"맑은 고딕";font-style:italic;}
.cs1 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;}
.cs0 {font-size:19pt;height:8.63137mm;color:#000000;opacity:1;font-family:"맑은 고딕";font-weight:bold;}
.cs0 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;}
